.blog {
  background-color: $blog-color;
  padding: 101px 165px 120px 164px;
  &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 46px;
  }
  &__title {
    font-family: $menu-font;
    font-size: $about_us_title-size;
    color: #fff;
    font-weight: bold;
  }
  &__text {
    font-family: $menu-font;
    font-size: $header_text-size;
    color: #fff;
  }
  &__cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 49px;
  }
  &__card {
    position: relative;
    padding-bottom: 32%;
    flex: 32%;
    max-width: 32%;
    height: auto;
    box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
    .hack {
      height: 100%;
      position: absolute;
    }
    img {
        width: 100%;
        height: auto;
    }
  }
  &__date {
    background-color: $logo-color;
    opacity: 0.5;
    color: $white;
    position: absolute;
    top: 40px;
    left: 43px;
    width: 61px;
    height: 61px;
    text-align: center;
  }
  &__day {
    font-family: $menu-font;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
  }
  &__month {
    line-height: 1;
    font-family: $header_title-font;
    font-size: 20px;
  }
  &__info {
    position: absolute;
    bottom: 23px;
    left: 20px;
    color: $white;
    opacity: 1;
    font-weight: 700;
  }
  &__card-title {
    font-family: $menu-font;
    font-size: $btn-size;
  }
  &__card-author {
    font-family: $menu-font;
    font-size: 15px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    .btn {
      background-color: $blog_btn-color;
      padding: 21px 43px 20px 44px;
      transition: 0.3s ease-in;
      box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
    }
    .btn:hover {
      background-color: $logo-color;
    }
    span {
      color: $white;
      font-size: $btn-size;
      font-family: $menu-font;
    }
  }
}
