.gallery {
  padding: 100px 165px 140px 164px;
  background-color: $gallery_bg-color;
  &__description {
    text-align: center;
  }
  &__title {
    font-family: $menu-font;
    font-size: $about_us_title-size;
    color: $logo-color;
    font-weight: bold;
    margin-bottom: 28px;
  }
  &__text {
    font-family: $menu-font;
    font-size: $header_text-size;
    color: $logo-color;
    margin-bottom: 45px;
  }
  &__img {
    .hack {
      height: 100%;
      position: absolute;
    }
    &--row {
      display: flex;
      flex-wrap: wrap;
    }
    &--hack {
      width: auto;
      height: 100%;
      padding-bottom: 68%;
      position: relative;
    }
    &_2 {
      margin-bottom: 2%;
    }
  }
  &__img--column {
    flex: 69%;
    max-width:69%;
    margin: 0 2% 2% 0; 
  }
  &__img--column_2 {
    flex: 29%;
    max-width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  &__img--column_3 {
    flex: 49%;
    max-width: 49%;
    margin-right: 2%;
  }
  &__img--column_4 {
    flex: 49%;
    max-width: 49%;
  }
  &__img {
    margin-bottom: 48px;
  }
  img {
    box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
  }
  &__btn {
    display: flex;
    justify-content: center;
    .btn {
      background-color: $gallery_btn-color;
      padding: 21px 43px 20px 44px;
      transition: 0.3s ease-in;
      box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
    }
    .btn:hover {
      background-color: $logo-color;
    }
    span {
      color: $white;
      font-size: $btn-size;
      font-family: $menu-font;
    }
  }
}
