.container {
  max-width: 1500px;
  width: 100%;
}
.header {
  background: url(../img/header_bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding: 10px;
  @media (min-width: 760px) {
    padding: 40px;
  }
  @media (min-width: 1200px) {
    padding: 50px 164px 156px;
  }
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50px;
    background: white;
    width: 100%;
    text-align: center;
    @media (min-width: 1200px) {
      background: transparent;
    }
  }

  a.navbar-brand.header__logo {
    font-family: $logo-font;
    font-size: 30px;
    color: $logo-color;
    text-decoration: inherit;
    @media (min-width: 1023px) {
      font-size: $logo-size;
    }
  }
  @media (min-width: 1023px) {
    .navbar-expand-lg .navbar-collapse {
      display: flex;
      justify-content: flex-end;
    }
    .bg-light {
      width: 100%;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    @media (min-width: 576px) and (max-width: 1023px) {
      margin-bottom: 150px;
    }
    @media (min-width: 1023px) {
      margin-bottom: 258px;
    }
    .navbar {
      width: 100%;
      padding: 0;
    }
    .navbar-nav {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      transition: 0.3s easy;
      .nav-link {
        color: $logo-color;
      }
    }
    .nav-item {
      font-family: $menu-font;
      font-size: 12px;
      font-weight: bold;
      position: relative;
      @media (min-width: 1024px) {
        font-size: $menu-size;
      }
    }
    .nav-link {
      color: $logo-color;
      text-decoration: none;
    }
    .nav-link:hover {
      border-top: 4px solid $header_btn-color;
      padding-top: 5px;
    }
    li:last-child {
      padding-right: 0px;
    }
    @media (min-width: 992px) {
      .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 30px;
        padding-right: 0;
        padding-left: 0;
      }
      a.nav-link:last-child {
        margin-right: 0;
      }
    }
  }
  &__title {
    h1 {
      font-size: 30px;
      color: $logo-color;
      font-family: $header_title-font;
      margin-bottom: 10px;
      @media (min-width: 576px) and (max-width: 1023px) {
        font-size: 40px;
        margin-bottom: 34px;
      }
      @media (min-width: 1024px) {
        font-size: $header_title-size;
        margin-bottom: 34px;
      }
    }
    p {
      font-size: 10px;
      color: $logo-color;
      font-family: $menu-font;
      @media (min-width: 576px) and (max-width: 1023px) {
        font-size: 12px;
      }
      @media (min-width: 1024px) {
        font-size: $header_text-size;
      }
    }
    margin-bottom: 20px;
    @media (min-width: 576px) and (max-width: 1023px) {
      margin-bottom: 30px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 51px;
    }
  }
  &__button {
    margin-bottom: 70px;
    @media (min-width: 576px) and (max-width: 1023px) {
      margin-bottom: 100px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 295px;
    }
    .btn {
      background-color: $header_btn-color;
      font-size: 10px;
      padding: 5px 15px 5px 15px;
      color: $white;
      outline: none;
      border: none;
      transition: 0.3s ease-in;
      box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
      @media (min-width: 576px) and (max-width: 1023px) {
        padding: 10px 25px 10px 25px;
        font-size: 12px;
      }
      @media (min-width: 1024px) {
        font-size: $btn-size;
        padding: 13px 33px 13px 33px;
      }
    }
    .btn:hover {
      background-color: $logo-color;
    }
  }
  &__scroll {
    &-downs {
      position: absolute;
      right: 0;
      bottom: 30px;
      left: 0;
      margin: auto;
      width: 12px;
      height: 12px;
      @media (min-width: 576px) and (max-width: 1023px) {
        bottom: 50px;
        width: 15px;
        height: 15px;
      }
      @media (min-width: 1024px) {
        bottom: 97px;
        width: 31px;
        height: 55px;
      }
    }
    &-mousey {
      width: 2px;
      padding: 5px;
      height: 10px;
      border: 2px solid $logo-color;
      border-radius: 15px;
      opacity: 0.75;
      box-sizing: content-box;
      @media (min-width: 576px) and (max-width: 1023px) {
        width: 3px;
        padding: 5px;
        height: 10px;
        border-radius: 15px;
      }
      @media (min-width: 1024px) {
        width: 3px;
        padding: 10px;
        height: 15px;
        border-radius: 25px;
      }
    }
    &-scroller {
      width: 3px;
      height: 6px;
      border-radius: 25%;
      background-color: $logo-color;
      animation-name: scroll;
      animation-duration: 2.2s;
      animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
      animation-iteration-count: infinite;
    }
    @keyframes scroll {
      0% {
        opacity: 0;
      }
      10% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(15px);
        opacity: 0;
      }
    }
  }
}
