.subscribe {
  display: flex;
  padding: 10px;
  background: url(../img/subscribe.png) no-repeat center;
  background-size: cover;
  flex-direction: column;
  @media (min-width: 576px) and (max-width: 1023px) {
    padding: 40px;
  }
  @media (min-width: 1200px) {
    padding: 72px 167px 70px 175px;
  }
  &__title {
    font-family: $menu-font;
    font-weight: bold;
    font-size: 20px;
    color: $logo-color;
    margin-bottom: 10px;
    @media (min-width: 576px) and (max-width: 1023px) {
      font-size: 30px;
      margin-bottom: 24px;
    }
    @media (min-width: 1024px) {
      font-size: 40px;
      margin-bottom: 34px;
    }
  }
  &__text {
    font-family: $menu-font;
    font-size: 10px;
    color: $logo-color;
    margin-bottom: 10px;
    @media (min-width: 576px) and (max-width: 1023px) {
      font-size: 12px;
      margin-bottom: 30px;
    }
    @media (min-width: 1024px) {
      font-size: $header_text-size;
      margin-bottom: 30px;
    }
  }
  &__form {
    text-align: center;    
    @media (min-width: 576px) and (max-width: 1023px) {
      text-align: left;
    }
    @media (min-width: 1024px) {
      text-align: left;
    }
  }
  &__input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 10px;
    input[type="text"] {
      border: 1px solid $logo-color;
    }
    @media (min-width: 576px) and (max-width: 1023px) {
      width: 70%;
      height: 45px;
      padding-left: 16px;
      margin-right: 29px;
    }
    @media (min-width: 1024px) {
      font-size: $header_text-size;
      margin-bottom: 30px;
      width: 571px;
      height: 56px;
      padding-left: 16px;
      margin-right: 29px;
    }
  }
  &__button {
    background-color: $subscribe_btn-color;
    padding: 5px 12px 5px 15px;
    border: none;
    box-shadow: 0px 2px 9px 0 rgba(0, 0, 0, 0.75);
    transition: 0.3s ease-in;
    span {
      font-family: $menu-font;
      font-size: 10px;
      color: $white;
      @media (min-width: 576px) and (max-width: 1023px) {
        font-size: 14px;
      }
      @media (min-width: 1024px) {
        font-size: 16px;
      }
    }
    @media (min-width: 576px) and (max-width: 1023px) {
      font-size: 12px;
      max-width: 171px;
      padding: 14px 20px 10px 20px;
    }
    @media (min-width: 1024px) {
      font-size: $header_text-size;
      padding: 16px 29px 15px 30px;
    }
  }
  &__button:hover {
    background-color: $logo-color;
  }
}
