body {
  background-color: $bg-color;
  padding-bottom: 100px;
}
img {
  max-width: 100%;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 85px 0 90px;
  gap: 1.5rem;
  max-width: 1200px;
  .big_card-item {
    position: relative;
    max-width: 740px;
    text-align: center;
    font-size: 0;
    background: linear-gradient(
      170deg,
      rgba(250, 250, 250, 1) 17%,
      rgba(13, 13, 13, 1) 60%,
      rgba(0, 0, 0, 1) 100%
    );
    .text-box {
      position: absolute;
      padding-bottom: 40px;
      bottom: 8px;
      left: 16px;
      max-width: 60%;
      text-align: justify;
    }
    &__img {
      height: 100%;
      opacity: 0.75;
      & img {
        height: inherit;
      }
    }
    &__date {
      margin-bottom: 20px;
      font-size: $date-size;
      font-family: $main-font;
      color: $white;
      opacity: 0.5;
      text-transform: uppercase;
    }
    &__text {
      font-size: $big_text-size;
      font-family: $main-font;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .card-item {
    max-width: 360px;
    background-color: $white;
    flex: 1 1 calc((100% / 3) - 2rem);
    display: flex;
    flex-direction: column;
    .box-desc {
      padding: 25px;
      padding: 25px;
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__img {
      font-size: 0;
    }
    &__date {
      font-size: $date-size;
      font-family: $main-font;
      color: $date-color;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__text {
      font-size: $text-size;
      font-family: $main-font;
      color: $text-color;
      text-transform: uppercase;
      margin-bottom: 60px;
    }
    &__author {
      font-size: 0;
    }
  }
}
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $load-color;
  span {
    font-size: $date-size;
    color: $load-color;
    padding-left: 15px;
  }
}
