@font-face {
  font-family: 'HansKendrick';
  src: url('../assets/fonts/NeueHansKendrick-Regular.otf') format('otf'),
       url('../assets/fonts/NeueHansKendrick-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}
$date-color: #818181;
$text-color: #1d1d1d;
$load-color: #99a5b0;
$white: #fff;
$black: #000;
$bg-color: #e2e7ec;

$date-size: 13px;
$big_text-size: 30px;
$text-size: 22px;


$main-font: 'HansKendrick', serif;

