@font-face {
  font-family: 'HansKendrick';
  src: url('../assets/fonts/HansKendrick-Regular.otf') format('otf');
  font-weight: bold;
}
$date-color: #818181;
$text-color: #1d1d1d;
$load-color: #99a5b0;
$white: #fff;
$black: #000;
$bg-color: #e2e7ec;

$date-size: 13px;
$big_text-size: 30px;
$text-size: 22px;


$main-font: 'HansKendrick', sans-serif;

