@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$title-color: #0ec8cb;
$text-color: #999999;
$icon-color: #1b1b1b;
$hover-color: #0EC8CB;
$main-color: #F7F7F7;
$border-color: #ececec;
$white: #fff;
$black: #000;

$subt-size: 12px;
$title-size: 48px;
$tdesc-size: 18px;
$cards_title-size: 21px;
$cards_text-size: 14px;

$subt-font: 'Montserrat', sans-serif;
$title-font: 'Montserrat', sans-serif;
$tdesc-font: 'PT Sans', sans-serif;


