doctype html
html(lang="uk")
  include partials/head
  include partials/mixin
  body
    include partials/hero
    include partials/menu
    //include partials/choose_us
    //include partials/work
    //include partials/propose_first
    //include partials/propose_second
    //include partials/comment
    //include partials/footer
    