
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.cards {
  background-color: $bg-color;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 78px 30px;
  .card-item {
    flex: 0 1 calc((100% / 3) - 2rem);
    background-color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    min-height: 441px;
    min-width: 360px;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 2px 5px 0px rgba(158,158,158,0.5);
    padding: 29px 0 36px;
    &:hover {
      transform: scale(1.1);
    }
    &__price {
      color: $price-color;
      font-size: $price-size;
      font-family: $main-font;
      font-weight: bolder;
    }
    &__img {
    }
    &__title {
      font-size: $title-size;
      color: $title-color;
      font-family: $main-font;
    }
    &__text {
      font-size: $text-size;
      color: $title-color;
      font-family: $main-font;
    }
  }
}
