@font-face {
  font-family: "Miso";
  src: url("../assets/fonts/miso-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$text-color: #1d1d1d;
$bg-color: #fdde7e;
$price-color: #02995b;
$title-color: #333333;
$white: #fff;
$black: #000;

$price-size: 70px;
$title-size: 56px;
$text-size: 20px;

$main-font: "Miso", sans-serif;
