.icon { 
  display: inline-block;
  width: 24px; 
  height: 38px;
  margin: .5em;
  fill: $white;
}

.container {
  max-width: 1920px;
  font-family: $main-font;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url(../img/header_bg.png);
  padding: 280px 0 110px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__logo {
    color: $white;
    margin-bottom: 77px;
  }
  &__title {
    font-family: $main-font;
    font-size: $title-size;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 10px;
  }
  &__text {
    font-family: $main-font;
    font-size: $text-size;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 276px;
    line-height: 2;
    max-width: 590px;
  }
  &__scroll {
    &-downs {
      position: absolute;
      right: 0;
      bottom: 97px;
      left: 0;
      margin: auto;  
      width :31px;
      height: 55px;
    }
    &-mousey {
      width: 3px;
      padding: 10px;
      height: 15px;
      border: 2px solid #fff;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box;
    }
    &-scroller {
      width: 3px;
      height: 10px;
      border-radius: 25%;
      background-color: #fff;
      animation-name: scroll;
      animation-duration: 2.2s;
      animation-timing-function: cubic-bezier(.15,.41,.69,.94);
      animation-iteration-count: infinite;
    }
    @keyframes scroll {
      0% { opacity: 0; }
      10% { transform: translateY(0); opacity: 1; }
      100% { transform: translateY(15px); opacity: 0;}
    }
  }
}