.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  &__product-container {
    padding: 118px 0 114px;
  }
  &__product--item {
    margin-bottom: 109px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__product--item:last-child {
    margin-bottom:0;
  }
  &__border--big {
    padding: 112px 173px 92px 181px;
  }
  &__icon {
    margin-bottom: 40px;
    .icon--shape {
      width: 81px;
      height: 84px;
    }
  }
  &__subtitle {
    margin-bottom: 37px;
    font-size: $product_card-subtitle;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $main-font;
  }
  &__text {
    font-size: $card-text;
    font-family: $main-font;
  }
}