@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$title-color: #3c3c3c;
$text-color: #3c3c3c;
$white: #fff;
$black: #000;

$title-size: 54px;
$text-size: 15px;
$card-title: 55px;
$card-text: 16px;
$card-subtitle: 34px;
$product_card-subtitle: 33px;
$card-subtext : 14px;
$cards-title : 37px;


$main-font:  'Lato', serif;



