.choose_us
  .container
    .left-col
        h3.choose_us__title Why Choose Us
        p.choose_us__text Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
        p.choose_us__text Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
        a(href="#" class="choose_us__btn btn" target="_blank") Explore Places 
    .right-col
        .choose_us__img-wrapper
            img(src="./img/choose-us_1.png", class="choose_us__img", alt="")
        .choose_us__img-wrapper
            img(src="./img/choose-us_2.png", class="choose_us__img", alt="")