.comment
  .container
    h3.comment__title What Our  Tourist Say
    .comment__card
        .comment__img-wrapper
            img(src="./img/author.png", alt="" class="comment__img")
        .comment__text
            p.comment__author Sam Sumon
            .comment__blockquote 
                img(src="./img/blockquote.svg", alt="")
                p But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system
            