.footer
  .container
    a.footer__logo(href='/') Bhromaon
    p.footer__text Safe Travel Anywhere
    .footer__links
        a(href="#", target="_blank", rel="noopener noreferrer")
            img(src="./img/fb.png", alt="")
        a(href="#", target="_blank", rel="noopener noreferrer")
            img(src="./img/twee.png", alt="")
        a(href="#", target="_blank", rel="noopener noreferrer")
            img(src="./img/link.png", alt="")
        a(href="#", target="_blank", rel="noopener noreferrer")
            img(src="./img/yt.png", alt="")
        a(href="#", target="_blank", rel="noopener noreferrer")
            img(src="./img/pint.png", alt="")