.hero
  .container
    h1.hero__title Bhromaon
    p.hero__subtitle Safe Travel Anywhere
    .hero__form
        form(action='/action_page.php')
            label(for='hero_search' class="sr-only")
            input#hero_search(class="hero__input" type='text' name='search' placeholder='Search Your Travel Destination')
            button(class="hero__button" type='submit') 
                span Search
                img(src="./img/hero_search.svg", alt="", class="hero__icon")
    .hero__scroll
        span(class="hero__scroll-text") Scroll Down
        a(class="uk-button uk-button-primary hero__link bounce" href="#choose_us") 
          img(src="./img/scroll_down.svg", alt="")
