.navigation
  .container
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand.navigation__logo(href='/') Bhromaon
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#choose_us') Who We Are
          li.nav-item
            a.nav-link(href='#work') What We Do
          li.nav-item
            a.nav-link(href='#propose') Travel With Us
          li.nav-item
            a.nav-link(href='#comment') Contact Us
