.propose_right
  .container
    .propose_right__card--end
      .propose_right__card
          p.propose_right__subtitle Spain 
          h3.propose_right__title Grand Spain Madrid
          p.propose_right__text But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
          a(href="#" class="propose_right__btn btn" target="_blank") Book Now