#propose.propose_left
  .container
    .propose_left__card
        p.propose_left__subtitle Spain 
        h3.propose_left__title Grand Spain Madrid
        p.propose_left__text But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
        a(href="#" class="propose_left__btn btn" target="_blank") Book Now