#work.work
  .container
    .work__icons
        img(src="../img/bg_icon.png", alt="", class="work__bg-img")
        .work__search
            img(src="../img/serch.svg", alt="", class="work__search-img")
            p.work__text Search Places
        .work__select   
            img(src="../img/select.svg", alt="", class="work__select-img")
            p.work__text Select Places
        .work__like
            img(src="../img/like.svg", alt="", class="work__like-img")
            p.work__text Book & Enjoy
        