@import url(//db.onlinewebfonts.com/c/cf2e520b1f09b1054a329a50e225ac01?family=Museo+Sans+Rounded+100);

$title-color: #e1e1e1;
$bg-color: #111a28;
$rate-color: #9da1a6;
$rate-color-cheked: #f7bf16;
$button-color: #202835;
$white: #fff;
$black: #000;

$title-size: 24px;
$text-size: 14px;


$main-font: "Museo Sans Rounded 100";

