@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-size: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121116;
  font-family: "Open Sans", sans-serif;
  background-repeat: round;
  padding: 120px 0 40px;
}
.footer_top__logo {
  margin-bottom: 50px;
}
.footer_top__logo a{
  display: flex;
}
.footer_title {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.footer_title span {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.footer_social__img {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 86px;
}
.footer_social__img:before {
  content: " ";
  position: relative;
  background-color: #ffffff;
  width: 231px;
  display: flex;
  height: 2px;
  margin-bottom: 20px;
}

.footer_copyright {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
a {
  text-decoration: none;
}
.footer_copyright span {
  color: #00c7fc;
}
a:hover svg {
  fill: #00c7fc;
}
.img_container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  list-style: none;
}
