@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../assets/fonts/l_10646-webfont.woff2') format('woff2'),
         url('../assets/fonts/l_10646-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

$title-color: #202020;
$text-color: #666666;
$button-color: #2EC06C;
$icon-color: #bfdfef;
$hover-color: #FF0084;
$bg-color: #3399cc;
$border-color: #2b81ac;
$white: #fff;
$black: #000;

$title-size: 21px;
$mtext-size: 18px;
$text-size: 16px;


$main-font: 'lucida_sans_unicoderegular', sans-serif;

