@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400&family=Karla&display=swap');

$title-color: #202020;
$text-color: #666666;
$button-color: #2EC06C;
$icon-color: #3B5998;
$hover-color: #FF0084;
$white: #fff;
$black: #000;

$title-size: 30px;
$text-size: 16px;

$main-font: 'Asap', sans-serif;
$sec-font: 'Karla', sans-serif;


