@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$title-color: #fbf6e4;
$text-color: #7a7a7a;
$button-color: hsl(30, 78%, 63%);
$border-color: #e66a64;
$bg-color: #e5eeee;
$white: #fff;
$black: #000;

$title-size: 18px;
$text-size: 16px;
$small-size : 13px;


$main-font: 'Quicksand', sans-serif;

