

$title-color: #fbf6e4;
$text-color: #7a7a7a;
$button-color: hsl(30, 78%, 63%);
$border-color: #e66a64;
$bg-color: #e5eeee;
$white: #fff;
$black: #000;

$title-size: 42px;
$text-size: 18px;
$blockquote-size :24px;


$main-font: 'Playfair Display', serif;
$text-font: 'Lato', sans-serif;

