
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@900&display=swap');

$text-color: #898F8F;
$title-color: #FFCC00;
$slide_title-color: #666666;
$slide_text-color: #333333;
$white: #fff;
$black: #000;

$title-size: 60px;
$subtitle-size: 18px;
$slide_title-size: 36px;
$slide_subtitle-size: 24px;
$slide_text-size: 14px;

$title-font: 'Roboto', sans-serif;
$main-family: 'Raleway', sans-serif;
