@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$title-color: #B7BACD;
$title-color_active: #FBFBFB;
$little_text-color: #FEDC3F;
$bg_tabs-color: #2b3040;
$bg-color: #212534;
$rate-color: #9da1a6;
$rate-color-cheked: #FFDD3F;
$button-color: #13E28D;
$white: #fff;
$black: #000;

$title-size: 24px;
$discount-size: 12px;
$card_title-size: 32px;
$card_subtitle-size: 14px;
$btn-size: 16px;


$main-font: 'Lato', sans-serif;

