
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$main-color:#FF7F7F;
$text-color: #898F8F;
$title-color: #FFCC00;
$slide_title-color: #666666;
$slide_text-color: #333333;
$white: #fff;
$black: #000;

$title-size: 58px;
$subtitle-size: 20px;
$best_sellertitle-size: 50px;
$best_sellertext-size: 20px;
$link-size: 25px;

$main-family: 'Montserrat', sans-serif;;
